* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: #c5e1fd;
}

form {
    display: flex;
    flex-direction: column;
}

input, button {
    padding: 1rem;
    font-size: 1.5rem;
    margin-top: 5%;
}

button {
    background-color: #c7e6ff;
    border-style: none;
    border-radius: 10px;
    font-weight: 600;
    color: rgb(0, 26, 56);
    font-size: 1rem;
}

button:hover {
    background-color: #9ac5f2;
    border: solid 0.5px rgb(143, 179, 255);
    border-radius: 20px;
    transition: 0.3s ease-in-out;
    color: rgb(0, 31, 56);
}

div {
    box-sizing: content-box;
    background-color: #c7e6ff;
    border-radius: 20px;
    margin: 1%;
    padding: 1rem;
    width: 80%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    box-shadow: 3px 1px 20px 0px #a7d0ff;
}

img {
    width: 18%;
    height: auto;
    border-radius: 20px;
    margin: 2%;
    box-shadow: 3px 1px 20px 0px #a7d0ff;
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 200;
    font-size: 3rem;
    margin-top: 5%;
    color: rgb(0, 24, 56);
}

h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2rem;
    font-weight: 200;
    margin: 3%;
}

@media (max-width: 900px) {
    body {
        display: flex;
        align-items: center;
    }
    h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 1.8rem;
    }
    img {
        width: 90%;
    }
}